<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.biographyapp">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.BiographyApp">
        <activity android:name=".WomenLeaderActivity"></activity>
        <activity android:name=".LeadershipActivity" android:label="@string/leadership"/>
        <activity android:name=".InventorActivity" android:label="@string/inventors" />
        <activity android:name=".EntertainmentActivity" android:label="@string/entertainment" />
        <activity android:name=".VisionariesActivity" android:label="@string/visionaries" />
        <activity android:name=".TechDetailActivity" />
        <activity android:name=".PoliticsDetailActivity"/>
        <activity android:name=".SportDetailActivity"/>
        <activity android:name=".BusinessDetailActivity" />
        <activity android:name=".TechActivity" android:label="@string/tech" />
        <activity android:name=".PoliticsActivity" android:label="@string/politics" />
        <activity android:name=".SportActivity" android:label="@string/sport" />
        <activity android:name=".BusinessActivity" android:label="@string/business" />
        <activity android:name=".CategoryActivity"
            android:label="@string/category">
        </activity>
        <activity android:name=".MainActivity"
            android:theme="@style/Theme.Transparent">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <meta-data
            android:name="preloaded_fonts"
            android:resource="@array/preloaded_fonts" />
    </application>

</manifest>